services:
  express-healthcheck-blue:
    image: ${{ secrets.DOCKER_USERNAME }}/express-healthcheck:latest
    container_name: express-healthcheck-blue
    restart: always
    ports:
      - "3000:3000"
    networks:
      - backend-proxy

    express-healthcheck-green:
      image: ${{ secrets.DOCKER_USERNAME }}/express-healthcheck:latest
      container_name:express-healthcheck-green
      restart: always
      ports:
        - "3002:3000"
      networks:
        - backend-proxy
   
    nginx-proxy:
      image: nginx:stable-alpine
      container_name:nginx_proxy
      restart: always
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
      networks:
        - backend-proxy

networks:
  backend-deploy:
    external: true
